ALTER TYPE "AuditAction" ADD VALUE 'MEMBERSHIP_UPDATED'; ALTER TYPE "AuditAction" ADD VALUE 'MEMBERSHIP_ACTIVATED'; ALTER TYPE "AuditAction" ADD VALUE 'MEMBERSHIP_DEACTIVATED'; ALTER TYPE "AuditAction" ADD VALUE 'DEPARTMENT_ASSIGNED';
